/* Link Styling */
a {
    color: darkcyan;
    padding: 2%;
}

/* Animation Section */
.animation {
  margin-top: 0%;
  height: 600px;
}

/* Centering the Slider */
.center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Slider Styling */
.slider {
  margin-top: 5%;
  background: url("../images/carousal1.png");
  background-size: cover;
  height: 600px;
  width: 1400px;
  animation: animate 20s infinite;
}

/* Keyframes for Slider Animation */
@keyframes animate {
  20% {
    background: url("../images/carousel-2.png");
    background-size: cover;
  }

  40% {
    background: url("../images/carousel-3.png");
    background-size: cover;
  }

  60% {
    background: url("../images/carousal1.png");
    background-size: cover;
  }

  80% {
    background: url("../images/carousel-2.png");
    background-size: cover;
  }

  100% {
    background: url("../images/carousel-3.png");
    background-size: cover;
  }
}
